h / / #_

N / ŋ / _k
N / m / _p
N / n /_t

e / ə / [^']_
i / ə / [^']_

' / /

V / / V.*_#

r / l / V_
r / l / F_
r / l / #_

N // _#

ə / / #C_.*V
ə / / V.*_C?#
V / / #_.*V

di / id / l_
tsi / its / C_
də / əd / C_
bə / əb / C_
də / əd / C_
þ / / #_ð
ba / ab / C_
bi / ib / C_
mp / m / C_
lm / ml / #_
[tdðþ] / / [tdþð]_#

lh / ll /
Fl / ll /
Zl / jl /

h / / _[^l]

% simply romanization conventions
thl / tl /
e / é /
ə / e /
þ / th /
ð / dh /
tś / ch /
ś / sh /
ź / zh /
ǵ / gh /
ŋ / n /