h / / #_

N / ŋ / _k
N / m / _p
N / n /_t

e / ə / [^']_
i / ə / [^']_

r / l / [VF]_
r / l / #_

' / /

V / / V.*_#

N // _#

ə / / #C_.*V
ə / / V.*_C?#
V / / #_.*V

li / il / d_
di / id / l_
tsi / its / C_
də / əd / C_
bə / əb / C_
də / əd / C_
þ / / #_ð
ba / ab / C_
bi / ib / C_
mp / m / C_

lh / hl /
Fl / hl /
Zl / jl /
