h / / #_

N / ŋ / _k
N / m / _p
N / n /_t

e / ə / [^']_
i / / [^']_

% ' / /
% 
% e / 'e / #C*_ 
% ə / 'ə / #C*_
% a / 'a / #C*_
% i / 'i / #C*_
% o / 'o / #C*_
% u / 'u / #C*_
% 
% V / / V.*_#
% 
% N // _#